<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>590118954163-4u3291gf5h4cr4eekprdbrduisd5nv4m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.590118954163-4u3291gf5h4cr4eekprdbrduisd5nv4m</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>590118954163-a6qm8j6c2rmb2rlg2g9tbmdh0scv0umk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC5RopK53ximrNCebXKQY2AHUWJoE0wyg0</string>
	<key>GCM_SENDER_ID</key>
	<string>590118954163</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.desiDime.Dimeapp</string>
	<key>PROJECT_ID</key>
	<string>cedar-hawk-846</string>
	<key>STORAGE_BUCKET</key>
	<string>cedar-hawk-846.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:590118954163:ios:1f6d455c04125de8</string>
	<key>DATABASE_URL</key>
	<string>https://cedar-hawk-846.firebaseio.com</string>
</dict>
</plist>
